[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
*.userprefs
Output*/
Release*/
Debug*/
OutputAndroid*/
OutputWindowsPhone*/
*.psess
test-results*/
*.vsp
.DotSettings
*.vspx
*.patch

packages/*
!packages/repositories.config