language: csharp
mono: none
sudo: false
dotnet: 3.1
dist: bionic

script:
  # somehow, just running the "dotnet test" here normally is responsible for
  # tests timing out when (and only when) run for PR builds, when (and only
  # when) the PR is coming from a fork of the project.  even weirder, running
  # the tests in a background process and then waiting seems to work around
  # the issue.  hopefully we can figure this out eventually, but I don't want
  # it to discourage contributors in the meantime (airbreather 2019-09-12).
  - dotnet build -c Release -v minimal -p:WarningLevel=3
  - dotnet test  -c Release --no-build --filter '(TestCategory!=LongRunning)&(TestCategory!=Stress)&(TestCategory!=FailureCase)'&
  - wait $!
  - dotnet pack  -c Release --no-build -p:NoWarn=NU5105


deploy:


  - on:
      branch: master
    provider: script
    script:
      - dotnet nuget push **/*.nupkg -s https://api.nuget.org/v3/index.json -k $NUGET_API_KEY
    skip_cleanup: true


  - on:
      branch: develop
    provider: script
    script:
      - dotnet nuget push **/*.nupkg -s https://www.myget.org/F/nettopologysuite/api/v2/package -k $MYGET_API_KEY
    skip_cleanup: true


env:
  global:
  - secure: BzD1R2uMyGVdJu+cIpRhydfCWfIQSsi7/GwqE30j+95v2Hr3X8fq+5aRR1EFhk1C51zqGhNymp55zUCXvIpXKuHnWL3tSYpFWV6suhJ9D3WplSXUbBA8hqB7KCkhT54qHykhS4Uq6V4P+JxSCcjZpbj0IQ/uCuolamU9Osh3rl0=
  - secure: Vir9iza9q2knZRs2g6oJCk3t0ZIAKiQD87CwCmNbHy0VGbQHf9ISTPHF0tcR0oSB1u2nwvyiY2wg7QHOouMHlM+mVXi3Bf8WXK2ckK2cFWhH+1wc39t3829LfeEzoFsojx/eReM61eEhlnDViPEKFOpJCWp3pRKxsZ5Dyo5JvrI=
