<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Projections" version="1.7" targetFramework="net40-Client" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.4" targetFramework="net40-Client" />
  <package id="ProjNET4GeoAPI" version="1.3.2" targetFramework="net40-Client" />
  <package id="QuickGraph" version="3.6.61119.7" />
</packages>