<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.4" targetFramework="portable-net403+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable40-net403+sl5+win8+wp8+wpa81" />
</packages>