<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Data" version="0.12.1.1" />
  <package id="DotSpatial.Projections" version="1.0.2011.52" />
  <package id="DotSpatial.Serialization" version="1.0.0.0" />
  <package id="DotSpatial.Topology" version="1.0.0.0" />
  <package id="NUnit" version="2.5.10.11092" />
</packages>