<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Data" version="1.6.0.0" targetFramework="net40-Client" />
  <package id="DotSpatial.Mono" version="1.6.0.0" targetFramework="net40-Client" />
  <package id="DotSpatial.Projections" version="1.6.0.0" targetFramework="net40-Client" />
  <package id="DotSpatial.Serialization" version="1.4.13" targetFramework="net40-Client" />
  <package id="DotSpatial.Topology" version="1.6.0.0" targetFramework="net40-Client" />
  <package id="NUnit" version="2.5.10.11092" />
</packages>