<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>